
body {
    background-color: azure;
}

hr {
    width: 5%;
    height: 1.5px;
    border: 5px dotted;
    border-style: none none dotted;
    color: rgba(128, 128, 128, 0.301)
}

h1 {
    color: rgb(214, 122, 127);
}

h3 {
    color: hsla(30, 100%, 50%, .3);
}