
body {
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    color: #000;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 900;
}

em {
    color: #fff;
    font-weight: 400;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 200;
    color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15%;
}



.btn {
    margin: 5% 3% 5%;
}


#title {
    background-color:#ff4c68;
    color: #fff;
}

.title-image {
    width: 60%;
    transform:rotate(25deg);
}


/* navbar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.nav-item {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}

#icon3 {
    color: #ef8173;
    margin: 4   %;
}

#icon3:hover {
    color: #ff4c68;
}

#smallsec {
    text-align: center;
    padding: 4.5;
}

#slogan{
    color: #fff;
    /* margin-bottom: 5%;
    margin-inline: 10%; */
}


/* <!-- Testimonials --> */

#testimonials {
    background-color: #ff4c68;
    text-align: center;

}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    border-radius: 100%;
    width: 10p%;
    margin-right: 20px;
}
.testimonial-text {
    color: #fff;
}


/* <!-- Press --> */

#press {
    background-color: #ff4c68;
    padding: 3% 5% 5% 5%;
    text-align: center;
}

.press-img {
    align-self: center;
    width: 15%;
    padding-bottom: 3%;
    margin: 20px 20px 30px;

}

/* Price */

#pricing {
    padding: 100px;
}

#price-colume{
    text-align: center;
    padding: 3% 2%;
}