
body {
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid{
    padding: 3% 15%;
}



.btn {
    margin: 5% 3% 5%;
}


#title {
    background-color:#ff4c68;
    color: #fff;
}

.title-image {
    width: 60%;
    transform:rotate(25deg);
}


/* navbar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.nav-item {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}